<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">

  <title>Drunken Pirate Portfolio</title>
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="js/angular/js/angular.js"></script>
  <script src="js/modernizr.js"></script>
</head>
<body>
  <main class="wrap group">



    <aside class="sidebar">
     <div class="my-info">
       <img src="images/drunkenPirate_avatar.png" alt="drunken pirate" class="portfolio-image">


       <h1>
        <span aria-hidden="true" data-icon="&#xE087;" class="github-icon">
        Cap'n Seymour Butts
        </span>
      </h1>



       <h2>Experienced pirate and leader of the salty seamen operating in the Carribean and South Seas.</h2>
       <div class="social group">
        <a href="#" class="dribbble">Dribbble</a>
        <a href="#" class="poopy">Poopy</a>
        <a href="#" class="facebook">Facebook</a>
        <a href="#" class="github">Github</a>
      </div>
    </div>

    <div class="searchbar">
      <input ng-model="searchFor">
    </div>

    <nav class="menus">
     <h3 class="work">Work</h3>
     <ul>
      <li><a href="#" class="current-menu-item" ng-repeat="portfolio in portfolios | 
  filter:searchFor">Call of Booty</a></li>
      <li><a href="#" ng-repeat="portfolio in portfolios | 
  filter:searchFor">The Sack of the Innocents</a></li>
      <li><a href="#" ng-repeat="portfolio in portfolios | 
  filter:searchFor">Pipe and First Mate</a></li>
    </ul>

    <h3 class="about">About</h3>
    <ul>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Testimonials</a></li>
    </ul>

    <h3 class="contact">Contact</h3>
    <ul>
      <li><a href="#">Address</a></li>
      <li><a href="#">Phone</a></li>
      <li><a href="#">Social Networks</a></li>
    </ul>
  </nav>
</aside>



<div class="content">

  <article class="portfolio-item group first">
    <header class="portfolio-info">
      <div class="title">Call of Booty</div>
      <div class="date">7 Nov 2013</div>
      <div class="description" ng-repeat="portfolios = [
    {name: 'vessel1309', title: 'Call of Booty', date: '2013-09-01', description: 'Arrrgh mateys! This be the finest vessel sailing these seas that yer eyes ever laid sight on. Arrrgh.', imageurl: 'images/drunkenPirate_thumb3.png' },">
        Arrrgh mateys! This be the finest vessel sailing these seas that yer eyes ever laid sight on. Arrrgh.
      </div>
    </header>
    <figure class="portfolio-image">
      <img src="images/drunkenPirate_thumb3.png" alt="Pirate Ship">
    </figure>
  </article>

  <article class="portfolio-item group">
    <header class="portfolio-info">
      <div class="title">The Sack of the Innocents</div>
      <div class="date">7 Nov 2013</div>
      <div class="description" ng-repeat="portfolios = [ {name: 'innocents1404', title: 'The Sack of the Innocents', date: '2014-04-15', description: 'This be a detail of the sacking of the innocents where I played an important role as business analyst and in implementation.', imageurl: 'images/drunkenPirate_thumb2.png' },">
        This be a detail of the sacking of the innocents where I played an important role as business analyst and in implementation.
      </div>
    </header>
    <figure class="portfolio-image">
      <img src="images/drunkenPirate_thumb2.png" alt="Sack of the Innocents">
    </figure>
  </article>

  <article class="portfolio-item group">
    <header class="portfolio-info">
      <div class="title">Pipe and First Mate</div>
      <div class="date">7 Nov 2013</div>
      <div class="description"  ng-repeat="portfolios = [ {name: 'firstmate1210', title: 'Pipe and First Mate', date: '2012-10-01', description: 'After a hard day of lootin\' and shootin\' I like to relax with my best mates and tally up the days booty.', imageurl: 'images/drunkenPirate_thumb1.png' },">
        After a hard day of lootin' and shootin' I like to relax with my best mates and tally up the days booty.
      </div>
    </header>

    <p><input ng-model="selectFor"></p>
<ul>
  <li 
  ng-repeat="portfolio in portfolios | 
  filter:searchFor"
  >
    {{ portfolio.name }}
  </li>
</ul>
<p>There are {{ portfolios.length }} porfolios available.</p>
    <figure class="portfolio-image">
      <img src="images/drunkenPirate_thumb1.png" alt="Pipe and Mate">
    </figure>
  </article>

  <article class="portfolio-item group loading-wrap" style="display:none">
    <header class="portfolio-info">
    </header>
    <figure class="portfolio-image">
      <div class="loading">
        <img src="images/loading.png" alt="Loading" class="rotate">&nbsp;Loading...
      </div>
    </figure>
  </article>

</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>